@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

*{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	}
	
::-webkit-scrollbar {
      width: 8px;
}
::-webkit-scrollbar-track {
      background-color:#fff;
}
::-webkit-scrollbar-thumb {
      background-color:#dbdbdb;
}
::-webkit-scrollbar-button {
      background-color:none;
}
::-webkit-scrollbar-corner {
      background-color:#f7cfe0;
}		

	
@font-face{
	font-family:SOR_LT;                
	src:url('type/SourceHanSansTC-Light.otf');
	}                                         /*-------------TC/SC-----------------*/
	
@font-face{
	font-family:SOR_RE;                 
	src:url('type/SourceHanSansTC-Regular.otf');
	}                                         /*-------------TC/SC-----------------*/
	
@font-face{
	font-family:SIM_O;                  
	src:url('type/SIMPFXO_0.TTF');
	}                                          /*-------------PER-----------------*/
	
@font-face{
	font-family:GUL_O;                  
	src:url('type/gulim_0.ttc');
	}	                                       /*-------------KOR-----------------*/	
	
@font-face{
	font-family:GEN_RE;                  
	src:url('type/GenJyuuGothicL-Regular.ttf');
	}				                            /*-------------JP-----------------*/
	
	
@font-face{
	font-family:GEN_LI;                  
	src:url('type/GenJyuuGothicL-Light.ttf'); /*-------------JP-----------------*/
	}
	
@font-face{
	font-family:ZAW;                  
	src:url('type/ZawgyiOne_0.ttf');           /*-------------MYAN-----------------*/
	}			                                       
	

/*------------------------------------------All--------------------------------------------*/

	
/*-------------------------------------------header------------------------------------------*/	

body{
	background-color:#FFF;
	font-family: 'Roboto',Verdana, Geneva,"微軟正黑體", sans-serif;
	font-size:13px;
	}

#WAPPER{
	width:100%;
	height:auto;
	position:relative;
	}

/*-------------------------------------------page-------------------------------------------*/

header{
	width:100%;
	background-color:rgba(204,204,204,0.8);
	position:fixed;
	z-index:8888;
	margin:0;
	}
	
header .header_w{
	display:block;
	width:1080px;
	height:86px;
	margin:0 auto;
	position:relative;
	}
	
header .header_w h2{
	display:block;
	width:314px;
	height:42px;
	position:absolute;
	top:24px;
	left:0px;
	}	
	
/*header .header_w h2 a{
	display:block;
	width:314px;
	height:42px;
	background-image: url('images/phone/Logo.png');
	background-repeat:no-repeat;
	text-indent:-9999px;
	}*/

/*-----------------------------------------banner---------------------------------------------------*/

#COMPATIBILIYT_BANNER{
	width:100%;
	height:auto;
	padding-top:85px;
	}
	
#COMPATIBILIYT_BANNER img{
	width:100%;
	height:auto;
	}

/*-----------------------------------------content---------------------------------------------------*/


/*-----------------------------------------登入頁--------------------------------------------*/
#MC_CONTENT{
	width:960px;
	margin:0 auto;
	padding:120px 0 200px 0;
	}
/*-------------------------------1107 CSS修改--------------------------------*/	
#MC_CONTENT .mc_title{
	padding:0 0 40px 0;
	overflow:hidden;
	}
	
#MC_CONTENT .mc_title h2{
	display:block;
	width:100%;
	height:45px;
	line-height:45px;
	float:none;
	font-size:44px;
	color:#00ccff;
	/*border-right:1px solid #00ccff;*/
	}
	
#MC_CONTENT .mc_title p{
	display:block;
	width:400px;
	height:45px;
	font-size:14px;
	line-height:1.3;
	padding-left:0px;
	padding-top:16px;
	float:left;
	}

#MC_CONTENT .mc_title ul{
	width: 400px;
	float:left;
	padding-left:50px;
	padding-top:16px;
	list-style: disc;
	font-size:14px;
	line-height:1.3;
}	

#MC_CONTENT .mc_title li:nth-child(1),#MC_CONTENT .mc_title li:nth-child(2){
	color:#F06;
}	

#MC_CONTENT .mc_registration .right .i_agree_2{
	width: 100%;
}

#MC_CONTENT .mc_registration .right .i_agree_2 table{
	width: 100%;
	text-align: left;
}

#MC_CONTENT .mc_registration .right .i_agree_2 td{
	color: #003366;
}

#MC_CONTENT .mc_registration .right .i_agree_2 td a{
	color: #00ccff;
	text-decoration: none;
}

#MC_CONTENT .mc_registration .right .i_agree_2 td:nth-child(1){
	width: 5%;
}

#MC_CONTENT .mc_registration .right .i_agree_2 td:nth-child(2){
	width: 95%;
}

#MC_CONTENT .mc_registration .right .i_agree_2 input{
	width: 16px;
	height: 16px;
}

	
/*------------------------------------------------------------------*/
#MC_CONTENT .mc_registration{
	clear:both;
	width:960px;
	overflow:hidden;
	}

#MC_CONTENT .mc_registration .left{
	width:45%;
	float:left;
	}
	
#MC_CONTENT .mc_registration h4{
	height:60px;
	line-height:60px;
	font-size:30px;
	color:#00ccff;
	padding-bottom:10px;
	}
	
#MC_CONTENT .mc_registration .mc_account{
	padding-top:0px;
	padding-bottom:10px;
	}
#MC_CONTENT .mc_registration .mc_password{
	padding-top:10px;
	padding-bottom:20px;
	}
	
#MC_CONTENT .mc_registration .mc_login{
	width:140px;
	height:36px;
	padding-left:0px;
	margin:0 auto; 
	}	
	
#MC_CONTENT .mc_registration .mc_login a{
	display:block;
	width:140px;
	height:36px;
	line-height:36px;
	font-size:16px;
	text-align:center;
	text-decoration:none;
	color:#00ccff;
	background-color:#FFF;
	border:1px solid #00ccff;
	border-radius:18px;
	}	
	
#MC_CONTENT .mc_registration .mc_login a:hover{
	color:#FFF;
	background-color:#00ccff;
	}
	
#MC_CONTENT .mc_registration .left p{
	padding-left:0px;
	padding-top:16px;
	text-align:center;
	}	
	
#MC_CONTENT .mc_registration .left p a{
	font-size:13px;
	text-decoration:none;
	color:#62defd;
	letter-spacing:1px;
	}
	
#MC_CONTENT .mc_registration .left p a:hover{
	color: #95e8fd;
	}					
	
#MC_CONTENT .mc_registration .left input{
	width:380px;
	height:32px;
	font-size:14px;
	color:#999;
	font-family: Verdana, Geneva,"微軟正黑體", sans-serif;
	background-color:#dbdbdb;
	padding:8px;
	border:none;
	}	
	
#MC_CONTENT .mc_registration .right{
	width:55%;
	float:right;
	overflow:hidden;
	}		
	
#MC_CONTENT .mc_registration .mc_fb_login {
	height:22px;
	line-height:22px;
	display: block;
	font-size:14px;
	float:left;
	}	
	
#MC_CONTENT .mc_registration .fb_login{
	float:left;
	}	
	
#MC_CONTENT .mc_registration .fb_login a{
	display: block;
	width:75px;
	height:22px;
	background-image:url(images/desktop/member_center_like.jpg);
	background-position:right center;
	background-repeat:no-repeat;		
	}
	
#MC_CONTENT .mc_registration .mc_mail_login{
	clear:both;
	padding-top:20px;
	padding-bottom:20px;
	font-size:14px;
	}
	
#MC_CONTENT .mc_registration .mail_login{
	font-size:14px;
	}	
	
#MC_CONTENT .mc_registration .right input{
	width:470px;
	height:32px;
	font-size:14px;
	color:#999;
	font-family: Verdana, Geneva,"微軟正黑體", sans-serif;
	background-color:#dbdbdb;
	padding:8px;
	border:none;
	}	
	
#MC_CONTENT .mc_registration .mc_lan{
	padding-top:20px;
	padding-bottom:20px;
	}		
	
.mc_lan .styled-select {
	width:470px;
    height: 32px;
    overflow: hidden;
	background-image:url(images/desktop/new_arrow.png);
	background-color:#dbdbdb;
	background-repeat:no-repeat;
	background-position:right;
	border:none;
	border-radius:0px;
	}	
	
.mc_lan .styled-select select{
	background: transparent;
	width: 470px;
	padding:5px 10px 5px 10px;
	font-family:Verdana, Geneva,"微軟正黑體", sans-serif;
	font-size: 14px;
	color:#999;
	border: none;
	border-radius:16px;
	height: 32px;  
	-webkit-appearance: none;
	-ms-appearance: none; 
	-moz-appearance: none; 
	}
	
#MC_CONTENT .mc_registration .right p{
	font-size:14px;
	color:#F06;
	line-height:1.4;
	padding-bottom:16px;
	}
	
#MC_CONTENT .mc_registration .mc_next{
	width:140px;
	height:36px;
	margin:0 auto;
	}	
	
#MC_CONTENT .mc_registration .mc_next a{
	display:block;
	width:140px;
	height:36px;
	line-height:36px;
	font-size:16px;
	text-align:center;
	text-decoration:none;
	color:#00ccff;
	background-color:#FFF;
	border:1px solid #00ccff;
	border-radius:18px;
	}	
	
#MC_CONTENT .mc_registration .mc_next a:hover{
	color:#FFF;
	background-color:#00ccff;
	}		
	





/*------------------------------------------page end---------------------------------------------*/



	



/*--------------------------------------------footer-----------------------------------------------*/

footer{
	width:100%;
	height:50px;
	background-color:#000;
	}
	
footer h3{
	text-align:center;
	line-height:50px;
	padding:0;
	color:#CCC;
	}	
	
	
/*--------------------------------------------phone style-----------------------------------------------*/


@media screen and (max-width: 736px) {

*{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	}
	
html,body{
	background-color:#FFF;
	font-family: 'Roboto',Verdana, Geneva,"微軟正黑體"  sans-serif;
	font-size:13px;
	-webkit-text-size-adjust:none;
	}
	
	
/*-----------------------------------------phone header---------------------------------------*/

/*-------------------------------------------page-------------------------------------------*/

header{
	width:100%;
	height:60px;
	background-color:rgba(204,204,204,0.8);
	position:fixed;
	z-index:8888;
	margin:0;
	}
	
header .header_w{
	display:block;
	width:100%;
	height:0;
	padding-bottom: 100%;
	margin:0 auto;
	position:relative;
	}
	
header .header_w h2{
	display:block;
	width:221px;
	height:34px;
	position:absolute;
	top:12px;
	left:10px;
	}	

	


/*-----------------------------------------banner---------------------------------------------------*/

#COMPATIBILIYT_BANNER{
	width:100%;
	height:auto;
	padding-top:60px;
	}
	
#COMPATIBILIYT_BANNER img{
	width:100%;
	height:auto;
	}	
	
/*-----------------------------------------content---------------------------------------------------*/
/*--------------------------登入頁pup--------------------------------*/
.mcbg{
	width: 90%;
	margin:0 auto;
	background-color: #fff;
	opacity:.9;
	border-radius:0px;
	padding-left: 3%;
	border: 1px solid #00ccff;
	box-shadow: 6px 6px 10px #ccc;
	position: absolute;
	top:18%;
	left: 5%;
}

.mcbg .mcpup_x{
	width: 30px;
	height: 30px;
	right: 10px;
	color: #fff;
	top: 20px;
	position: absolute;
	cursor: pointer;
	background-color: #00ccff;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
}

.mcpup{
	position: relative;
}
/*-----------------------------------------登入頁--------------------------------------------*/
#MC_CONTENT{
	width:90%;
	margin:0 auto;
	padding:10% 0 20% 0;
	}
/*-------------------------1107 CSS修改----------------------------*/
#MC_CONTENT .mc_title{
	padding:0 0 8% 0;
	overflow:hidden;
	}
	
#MC_CONTENT .mc_title h2{
	display:block;
	width:100%;
	height:45px;
	line-height:45px;
	float:left;
	font-size:32px;
	color:#00ccff;
	border-right:none;
	}
	
#MC_CONTENT .mc_title p{
	display:block;
	width:100%;
	height:auto;
	font-size:14px;
	line-height:1.3;
	padding-left:0px;
	padding-top:6px;
	float:left;
	}	

#MC_CONTENT .mc_title ul{
	width: 400px;
	float:left;
	padding-left:20px;
	padding-top:16px;
	list-style: disc;
}	

#MC_CONTENT .mc_title li:nth-child(1),#MC_CONTENT .mc_title li:nth-child(2){
	color:#F06;
}				
/*-----------------------------------------------------*/
#MC_CONTENT .mc_registration{
	clear:both;
	width:100%;
	overflow:hidden;
	}

#MC_CONTENT .mc_registration .left{
	width:100%;
	float:none;
	}
	
#MC_CONTENT .mc_registration h4{
	height:60px;
	line-height:60px;
	font-size:24px;
	color:#00ccff;
	padding-bottom:10px;
	}
	
#MC_CONTENT .mc_registration .mc_account{
	padding-top:0px;
	padding-bottom:20px;
	}
#MC_CONTENT .mc_registration .mc_password{
	padding-top:10px;
	padding-bottom:30px;
	}
	
#MC_CONTENT .mc_registration .mc_login{
	width:140px;
	height:36px;
	padding-left:0px;
	margin:0 auto;
	}	
	
#MC_CONTENT .mc_registration .mc_login a{
	display:block;
	width:140px;
	height:36px;
	line-height:36px;
	font-size:16px;
	text-align:center;
	text-decoration:none;
	color:#00ccff;
	background-color:#FFF;
	border:1px solid #00ccff;
	border-radius:18px;
	}	
	
#MC_CONTENT .mc_registration .mc_login a:hover{
	color:#FFF;
	background-color:#00ccff;
	}
	
#MC_CONTENT .mc_registration .left p{
	padding-left:0px;
	text-align:center;
	padding-top:16px;
	}	
	
#MC_CONTENT .mc_registration .left p a{
	font-size:13px;
	text-decoration:none;
	color:#62defd;
	letter-spacing:1px;
	}
	
#MC_CONTENT .mc_registration .left p a:hover{
	color: #95e8fd;
	}					
	
#MC_CONTENT .mc_registration .left input{
	width:100%;
	height:32px;
	font-size:14px;
	color:#999;
	font-family: Verdana, Geneva,"微軟正黑體", sans-serif;
	background-color:#dbdbdb;
	padding:8px;
	border:none;
	}	
	
#MC_CONTENT .mc_registration .right{
	width:100%;
	float:none;
	overflow:hidden;
	}		
	
#MC_CONTENT .mc_registration .mc_fb_login {
	height:22px;
	line-height:22px;
	display: block;
	font-size:14px;
	float:left;
	}	
	
#MC_CONTENT .mc_registration .fb_login{
	float:left;
	}	
	
#MC_CONTENT .mc_registration .fb_login a{
	display: block;
	width:75px;
	height:22px;
	background-image:url(images/desktop/member_center_like.jpg);
	background-position:right center;
	background-repeat:no-repeat;		
	}
	
#MC_CONTENT .mc_registration .mc_mail_login{
	clear:both;
	padding-top:20px;
	padding-bottom:30px;
	font-size:14px;
	}
	
#MC_CONTENT .mc_registration .mail_login{
	font-size:14px;
	}	
	
#MC_CONTENT .mc_registration .right input{
	width:100%;
	height:32px;
	font-size:14px;
	color:#999;
	font-family: Verdana, Geneva,"微軟正黑體", sans-serif;
	background-color:#dbdbdb;
	padding:8px;
	border:none;
	}	
	
#MC_CONTENT .mc_registration .mc_lan{
	padding-top:30px;
	padding-bottom:20px;
	}		
	
.mc_lan .styled-select {
	width:100%;
    height: 32px;
    overflow: hidden;
	background-image:url(images/desktop/new_arrow.png);
	background-color:#dbdbdb;
	background-repeat:no-repeat;
	background-position:right;
	border:none;
	border-radius:0px;
	}	
	
.mc_lan .styled-select select{
	background: transparent;
	width: 100%;
	padding:5px 10px 5px 10px;
	font-family:Verdana, Geneva,"微軟正黑體", sans-serif;
	font-size: 14px;
	color:#999;
	border: none;
	border-radius:16px;
	height: 32px;  
	-webkit-appearance: none;
	-ms-appearance: none; 
	-moz-appearance: none; 
	}
	
#MC_CONTENT .mc_registration .right p{
	width:100%;
	font-size:14px;
	color:#F06;
	line-height:1.4;
	padding-bottom:24px;
	}
	
#MC_CONTENT .mc_registration .mc_next{
	width:140px;
	height:36px;
	margin:0 auto;
	}	
	
#MC_CONTENT .mc_registration .mc_next a{
	display:block;
	width:140px;
	height:36px;
	line-height:36px;
	font-size:16px;
	text-align:center;
	text-decoration:none;
	color:#00ccff;
	background-color:#FFF;
	border:1px solid #00ccff;
	border-radius:18px;
	}	
	
#MC_CONTENT .mc_registration .mc_next a:hover{
	color:#FFF;
	background-color:#00ccff;
	}		





/*--------------------------------------------footer-----------------------------------------------*/

footer{
	width:100%;
	height:50px;
	background-color:#000;
	}
	
footer h3{
	text-align:center;
	line-height:1.2;
	padding:2% 3% 2% 3%;
	color:#CCC;
	}







}	
